*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open-sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #00A19D;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #fff;
    z-index: 1;
    border-bottom: 1px solid #00A19D;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #E05D5D;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .description {
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00A19D;
}

.kolom h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #00A19D;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #FFB344;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFF8E5;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #345B63;
    opacity: 70;
    text-decoration: none;
}

a.tbl-merah {
    background: #FFB344;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFF8E5;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-merah:hover {
    background: #345B63;
    opacity: 70;
    text-decoration: none;
}


p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#courses {
    margin-left: 150px;
}

.mid {
    text-align: center;
    width: 100%;
}

.portofolio-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-porto {
    width: 20%;
    margin: auto;
}

.kartu-porto img {
    width: 80%;
    border-radius: 100%;
}

.kartu-porto p {
    font-family: cursive, sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #FFB344 ;
}